body{
    background-image: url(hoho.jpg);
    background-size: cover;
    background-attachment: scroll;
}
header {
    background-color: rgba(0, 0, 0, 0.616);
    overflow: hidden;
    margin: -8px;}
   nav {
    float: right;
    margin-right: 48px;
   }
   ul {
    float: right;
    list-style: none;
    margin: 14px;
   }
   li {
    width: 100px;
    text-align: center;
    padding: 30px 0;
   }
   ul li{
    display: inline-block;
   }
   ul li a{
    text-decoration: none;
    color: white;
    padding: 5px 20px;
    border: 1px solid transparent;
    transition: 0.6s ease;
    font-family: sans-serif;
   }
   ul li a:hover{
    background-color: tomato;
    color: lightgoldenrodyellow;
    border: 1px lightgoldenrodyellow;
    border-radius: 40px;
    transition-duration: 0.5s;
   }
   #logo {
    width: 150px;
    float: left;
    height: auto;
    }
   .atas{
    max-width: 1200px;
    margin: auto;
   }
   p{
    text-align: left;
    font-size: 20px;
    color: rgb(233, 209, 177);
   }
   @media (max-width: 700px){
   p{
    text-align: left;
    font-size:10px;
    color:#e7530f;
   }
   }
   @media (max-width: 1000px){
    p{
    text-align: justify;
    font-size:10px;
    color:darkred;
    }
    }
    .welkam{
        color:skyblue;
        text-align:center;
        font-size:10.3mm;
        margin-top:97px;
        margin-left: 12px;
        font-family: sans-serif;
        background-color: rgba(128, 0, 0, 0.678);
        border: 5px solid lightcyan;
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }
    h3{
        color: white;
        font-size: 30px;
        text-align: center;
        border: 4px solid rgba(250, 128, 114, 0.836);
        width: 560px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        background-color: rgba(139, 69, 19, 0.712);
    }